.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.boxrow::after {
  content: "";
  clear: both;
  display: table;
}

.box {
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px; 
  float: left;
  border: 1px solid black;
}

/*.obstacle {
  background-color: black; 
}*/

#board {
  float: left;
  margin: 2em 3em 2em 3em;
}

#sideMenu {
  float: left;
  background-color: lightblue;
  border-radius: 3px;
  margin-top: 2em;
  padding: 8px;
  min-width: 250px;
}

.blockTable {
  width: 100%;
}

.button {
  background-color: teal;
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.button:hover {
  background-color: lightseagreen;
}

.chooseButtonCell{
  float:right;
}

.endBlock{
  background-color: limegreen;
}

.startBlock{
  background-color: yellow;
}

#showRoute {
  padding: 10px;
}

#showRouteDiv{
  text-align: center;
  width: 12em;
  height: 3em;
  margin-top: 2em;
  margin-left: 3em;
}

.blockImage {
  width: 100%;
  height: 100%;
};
